.clear-btn {
    display: flex;
    height: 4em;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 1.5em;
    background-color: lightgrey;
    color:black;
    padding:0.5em;
    border-radius: 10px;
    width:380px;
    border: 0.5px black solid;
}