*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: linear-gradient(to left, #6494e6, #474e9b);
    border:10px, grey;
    padding:10px;
    margin:10;
}

.wrapper {
    padding:5px 30px;
}

img {
    height:20%;
    width:20%;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:linear-gradient(to left, #6494e6, #474e9b);    
    position:fixed;
    top:0;
    width:100%;
    font-weight: 900
}

li {
    float: left;
}

li a {
    padding:8px;
    display:block;
    text-align:center;
    padding:15px 30px;
}


