*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: linear-gradient(to left, #6494e6, #474e9b);
    color: white;
    margin:0;
    padding: 0;
}

h1 {
    text-align: center;
    color:white;
}

h2 {
    margin: 0 0 10px 0;
    color:white;
}

img {
    position: absolute;
    height:30%;
    border-radius: 50%;
    transform:translate(-50%,-50%);
    left: 50%;
    top: 40%;
}

ul {
    color: white;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

li {
    background: transparent;
    color: white;
    justify-content: space-evenly;
    border-radius: 10%;
    padding: 5px;
    text-decoration: none;
}

li a{ 
    color:white;
    text-decoration: none;
    font-weight: 800;

}

hr {
    display: block;
    background: white;
    overflow: hidden;
    border-style: ridge;
    width: 30%;
}

.Profile-Pic {
    height: 300px;   
}

.About-me {
    height: 300px;
    width: 100%;
}

.Skills {
    height: 300px;
}

.Projects {
    height: 300px;
}

p {
    color: white;
}