@font-face {
    font-family: 'power_symbols';
    src: url('Unicode_IEC_symbol.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

.body {
    height: 100%;
    margin:0;
    border:0;
}

.section {
    position: relative;
    background-image: url(/bgbottom.jpg), url(/bgtop.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.top {
    position: absolute;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

@keyframes fade {
    0% {
    opacity: 0;}
    25% {
    opacity: 0;}
    75% {
    opacity: 1;}
    100% {
    opacity: 1;}
}

.power { 
    font-family: "power_symbols";
    font-style: normal; 
    color: white;
}

.Nation {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
}

.btn-position {
    position:absolute;
    top:35%;
    left:25%;    
}

.CurlyBrackets {
    position: relative;
    bottom: 5px;
    color: yellow;
}

.btn-position:hover {
    color: black;
    background-color: #4876ff;
    transition: 2s;
    transform: rotateX(360deg);
    transition-timing-function: ease-out;
}

.btn-position:hover .CurlyBrackets {
    color:white;
    background-color: #4876ff;
    transition: 2s;
}

.btn-position:hover .power {
    color:yellow;
    transition: 2s;
}

.btn-style {
    width:400px;
    padding:10px;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    background-color:#4876ff;
    color: white;
    border-radius: 30px;
}

.Socials {
    margin:0;
    padding:0;
    list-style-type: none;   
}

ul.Socials img {
    padding:5px;
    height: 50px;
    width: 50px;
    box-shadow: 0 5px 5px -6px black;
}

.facebook {
    position: absolute;
    top:20%;
    left:15%;
}

.facebook img {
    border-radius: 30px;
}

.facebook:hover {
    transform: rotateX(360deg);
    transition: 3s;
}

.twitter {
    position: absolute;
    top:70%;
    left:15%;
}

.twitter:hover {
    transform: rotateY(360deg);
    transition: 3s;
}

.twitter img {
    border-radius: 20px;
}

.instagram {
    position: absolute;
    top:20%;
    left:70%;
}

.instagram img {
    border-radius: 10px;
}

.instagram:hover {
    transform:rotateZ(360deg);
    transition: 3s;
}

.codenation {
    position: absolute;
    top:70%;
    left: 70%;
}

.codenation:hover {
    transform:rotateX(-360deg);
    transition: 2s;
}
