@import url('https://fonts.googleapis.com/css?family=Aleo|Lato|Open+Sans');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    padding:20px 50px;
}

img {
    width:100%;
}

@media (min-width:921px){
    body{
        background-color: coral;
    }
    .friends > .friends-col {
        width: 33.3333%;
        float: left;
    }
}